html {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    cursor: url(https://cur.cursors-4u.net/holidays/hol-1/hol35.cur), auto !important;
}

h1 {
    font-size: 70px;
    color: #ffdd68;
    font-family: 'Homemade Apple', cursive;
}

h2{
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h2, h3, h4 {
    color: #efcba2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p {
    font-size: 18px;
}


body {
    background-image:url(./resources/background-cute.gif);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background:#ffdd68;
}

::-webkit-scrollbar-thumb {
    background:#efcba2;
}

::-webkit-scrollbar-thumb:hover {
    background: #B3987A;
}

::-webkit-scrollbar-button {
    background:#969387;
}

/* Header Section */

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #969387;
    margin-top: 20px;
    border-bottom: solid 8px #ffdd68;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    list-style: square inside url('./resources/e9ba748b.gif');
}

nav li {
    padding: 15px;
}

nav li a {
    background-color:#efcba2;
    padding: 10px;
    transition: 0.3s;
    border-radius: 30%;
}

nav li a:hover {
    background-color:#B3987A;
}

nav li a:active {
    background-color:#776651;
}

/* Main section */

#about, #contact, #projects, #graphics, #shrines, #quizzes, #guestbook {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #969387;
    max-width: 700px;
    margin: auto;
    min-height: 800px;
    border: solid 8px #ffdd68;
    padding: 10px;
}

.container span {
    color:#ffdd68;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
}

/* Index */

.skell {
    border-radius: 50%;
    max-height: 300px;
    max-width: 300px;
    opacity: .50;
    transition: 0.3s;
}

.skell:hover {
    opacity: 1;
}


.divider img{
    max-width: 500px;
    max-height: 100px;
}


.skills img {
    max-height: 40px;
    max-width: 40px;
}

.overlay {
    background: linear-gradient(to right, rgba(187, 171, 25, 0.7), rgb(239, 203, 162));
    border-radius: 50%;
}


.skills h4{
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Contact Page */
.contact-places {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-places img {
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}

.email img:hover {
    content: url('./resources/tombstone-email-hover.png');
}
.github img:hover {
    content: url('./resources/tombstone-github-hover.png');
}
.tumblr img:hover {
    content: url('./resources/tombstone-tumblr-hover.png');
}

.spacehey img:hover {
    content:url('./resources/tombstone-spacehey-hover.png');
}

/* animation */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
