/* Contact Page */
.contact-places {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-places img {
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}

.email img:hover {
    content: url('../contact/tombstone-email-hover.png');
}
.github img:hover {
    content: url('../contact/tombstone-github-hover.png');
}
.tumblr img:hover {
    content: url('../contact/tombstone-tumblr-hover.png');
}

.spacehey img:hover {
    content:url('../contact/tombstone-spacehey-hover.png');
}