h2 {
    text-align: center;
    font-size: 32px;
    padding: 15px;
    text-decoration: underline;
}

p {
    padding: 5px;
}


body {
    background-image: url('../other/purple-skellycat.png');
}

.dark-mode {
    background-image: url('../other/ghosts.png');
}

#center {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: black;
    max-width: 760px;
    margin: auto;
    padding: 25px;
}

#center.dark {
    background-color: black;
    color: white;
}

#center a {
    color:#82789d;
    text-decoration: underline;
}

#center a:hover {
    color: #b8a9de
}

.topimage {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.topimage img {
    border: 5px white solid;
    width: 100%;
    height: auto;
}

.summary {
    height: 150px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    /* font-size:125%; */
    color: #82789d;
    overflow: auto;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    max-width: 810px;
    margin: auto;
    background-color: #000;
}

.buttons button {
    background-color: #000;
    border: none;
    outline: none;
    transition: 0.3s;
    color: #fff;
    padding: 15px;
}

.buttons button:hover {
    background-color: #e2c7f6;
}

.buttons button:active {
    background-color: #b8a9de;
}


/* sidebar */

header span {
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 35px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.sidenav-style {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}
.sidenav-style p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
  
.sidenav-style a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.sidenav-style a:hover {
    color: #e2c7f6;
}
  
.sidenav-style .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-width: 450px) {
    .sidenav-style {padding-top: 15px;}
    .sidenav-style a {font-size: 18px;}
    header span {font-size:20px;}
  }