/* Graphics page */

summary {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #efcba2;
    font-weight:bold;
    transition: 0.3s;
    padding: 15px;
}

summary:hover {
    color: #B3987A;
}


details img{
    padding: 1px;
}

#graphics h2{
    margin-bottom: 50px;
}