/* Index page */

.grid-container {
    display: grid;
    grid-template-areas:
                'updates about about interests'
                'updates about about skills';
    gap: 5px;
}

#about {
    grid-area: about;
}

.skell {
    border-radius: 50%;
    max-height: 300px;
    max-width: 300px;
    opacity: .50;
    transition: 0.3s;
}

.skell:hover {
    opacity: 1;
}


.divider img{
    max-width: 500px;
    max-height: 100px;
}


.skills img {
    max-height: 40px;
    max-width: 40px;
}

.overlay {
    background: linear-gradient(to right, rgba(187, 171, 25, 0.7), rgb(239, 203, 162));
    border-radius: 50%;
}


.skills h4, .interests h4{
    padding-top: 15px;
    padding-bottom: 10px;
}

.skills {
    grid-area: skills;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #969387;
    border: solid 8px #ffdd68;
    max-width: 300px;
    flex-wrap: wrap;
}

.image-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.interests {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #969387;
    border: solid 8px #ffdd68;
    max-width: 300px;
    flex-wrap: wrap;
    grid-area: interests;
}

.interests li {
    padding: 2px;
    font-weight: bold;
}

.updates {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #969387;
    border: solid 8px #ffdd68;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
    flex-wrap: wrap;
    grid-area: updates;
    overflow: auto;
}

.updates p, .updates span {
    font-size: 13px;
}