.examples {
    max-height: 500px;
    max-width: 500px;
    padding-top: 10px;
}

.examples img {
    height: auto;
    width: 100%;
    border: 3px solid #ffdd68;
}

.game {
    height: 100%;
    width: auto;
}

.game img {
    max-height: 300px;
    max-width: 300px;
    border: 3px solid #ffdd68;
}

#projects h2, #projects h3, #projects h4 {
    padding: 10px;
}

#projects h2 {
    text-decoration: underline;
    padding-top: 50px;
}

#projects ul {
    display: flex;
    flex-direction: row;
}

#projects ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#projects li a {
    background-color:#efcba2;
    padding: 10px;
    transition: 0.3s;
    border-radius: 30%;
}

#projects li a:hover {
    background-color:#B3987A;
}

#projects li a:active {
    background-color:#776651;
}

.divider {
    height: 100%;
    width: auto;
    padding: 10px;
}

.divider img {
    max-width: 600px;
}