/* Quizzes Page */

#quizzes img {
    max-height: 300px;
    max-width: 300px;
    padding: 3px;
}

.results {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}