/* Writing page */

#writing h2, #writing h3, #writing h4 {
    padding: 10px;
}

#writing p {
    padding: 2px;
}

.description {
    padding-top: 10px;
}


.summary {
    height: 200px;
    width: 70%;
    padding: 10px;
    border: 2px solid;
    font-size:125%;
    color: #000;
    overflow: auto;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

#writing a {
    background-color:#efcba2;
    padding: 10px;
    transition: 0.3s;
    border-radius: 30%;
}

#writing a:hover {
    background-color:#B3987A;
}

#writing a:active{
    background-color:#776651;
}

.description {
    max-width: 400px;
}

.description img  {
    width: 100%;
    height: auto;
}

.icons {
    max-width: 20px;
}

#writing ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#writing ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divider {
    padding: 20px;
    max-width: 400px;
}

.divider img {
    width: 100%;
    height: auto;

}

@media only screen and (max-width: 450px){
    .divider {
        max-width: 400px;
    }
    .description {
        max-width: 400px;
    }
}